/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  */

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  button,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  input,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  
  
  /* HTML5 display-role reset for older browsers */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
      display: block;
  }
  
  body {
      line-height: 1;
      font-family: BentonSans, sans-serif;
  }
  
  ol,
  ul {
      list-style: none;
  }
  
  blockquote,
  q {
      quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
      content: &#x27;
      &#x27;
      ;
      content: none;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  a {
      color: inherit;
      text-decoration: inherit;
  }
  
  html,
  body {
      width: 100%;
      margin: 0;
  }
  
  ;
  
  /* HTML5 display-role reset for older browsers */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
      display: block;
  }
  
  button {
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      padding: initial;
  }
  
  body {
      min-height: calc(100vh - 48px);
      line-height: 1;
      font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
  }
  
  body::-moz-selection {
      background-color: #7dbcff99;
  }
  
  input,
  textarea,
  [contenteditable] {
      font-family: Noto Sans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
  }

@font-face {
    font-family: redesignFont;
    src: url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.9035497831ae339315fec4e0cbdee75b.eot), url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.9035497831ae339315fec4e0cbdee75b.woff), url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.9035497831ae339315fec4e0cbdee75b.ttf), url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.9035497831ae339315fec4e0cbdee75b.svg)
}

.jJNEjo:visited {
    color: rgb(63, 154, 222);
    fill: rgb(63, 154, 222);
}

.jJNEjo {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    margin: 4px 8px;
}

.hRNOD {
    min-width: 0px;
    width: 100%;
    flex: 1 1 100%;
}

.goikhS {
    word-break: break-word;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 241);
    border-image: initial;
    border-radius: 4px;
}

._2rszc84L136gWQrkwH6IaM {
    padding: 8px 0 0 40px;
    position: relative;
    transition: color .5s,fill .5s;
}

.jcdeKe {
    color: rgb(135, 138, 140);
    fill: rgb(135, 138, 140);
}

._23h0-EcaBUorIHC-JZyh6J {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
}

.glokqy {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: inherit;
    flex-direction: column;
}

.cYUyoUM3wmgRXEHv1LlZv {
    height: 24px;
    width: 24px;
}

.buaDRo {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
}

._2q7IQ0BUOWeEZoeAxN555e {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

._2Jxk822qXs4DaXwsN7yyHA {
    position: relative;
}

.icon-comment:before {
    content: "\F109";
}

.icon-upvote:before {
    content: "\F138";
}

.icon-downvote:before {
    content: "\F10D";
}

.icon-share:before {
    content: "\F131";
}

.icon-outboundLink:before {
    content: "\F127";
}

.icon:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: redesignFont;
}

.glokqy ._1rZYMD_4xY3gRcSS3p8ODO {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.hxcKpF {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
}

._1iKd82bq_nqObFvSH1iC_Q {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.ZyxIIl4FP5gHGrJDzNpUC {
    position: relative;
}

.KJphS {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin: 0px 8px 8px;
}

.cZPZhMe-UCZ8htPodMyJ5 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

._2wFk1qX4e1cxk8Pkw1rAHk, .nU4Je7n-eSXStTBAPMYt8 {
    display: inline;
}
._3AStxql1mQsrZuUIFP9xSg {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}

.bsfRLa {
    font-size: 12px;
    font-weight: 700;
    color: rgb(28, 28, 28);
    display: inline;
    line-height: 20px;
    vertical-align: baseline;
    text-decoration: none;
}

.hFyNNd {
    color: rgb(124, 124, 124);
    font-size: 6px;
    line-height: 20px;
    vertical-align: middle;
    margin: 0px 4px;
}

.kESrVn ._2fCzxBE1dlMh4OFc7B3Dun {
    color: rgb(120, 124, 126);
}
._2fCzxBE1dlMh4OFc7B3Dun {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 3px;
}

.hPglCh {
    display: inline-block;
    flex: 0 0 auto;
}

.kESrVn ._2tbHP6ZydRpjI44J3syuqC {
    color: rgb(120, 124, 126);
}
._2tbHP6ZydRpjI44J3syuqC, ._3V0C4FGg6153xIBQjwsycq {
    margin-right: 3px;
    text-decoration: none;
}

.gWXVVu {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: inherit;
}

.kESrVn ._3jOxDPIQ0KaOWpzvSQo-1s {
    color: rgb(120, 124, 126);
}
._3jOxDPIQ0KaOWpzvSQo-1s {
    margin-right: 3px;
    text-decoration: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.cKmWbx {
    margin: 0px 8px 8px;
}

.y8HYJ-y_lTUHkQIc1mdCq {
    display: inline;
    position: relative;
    text-decoration: none;
    word-break: break-word;
}

.lpvuFi {
    display: inline;
    color: rgb(26, 26, 27);
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 5px;
}

.gGDEPn {
    max-width: 800px;
}

.ckueCN {
    font-family: "Noto Sans", "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(28, 28, 28);
    word-break: break-word;
    padding: 5px 8px;
    overflow: auto;
}

.hpxQMr:first-child {
    padding-top: 0px;
}

.hpxQMr {
    padding: 0.25em 0px;
}

._1hwEKkB_38tIoal6fcdrt9 {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    padding-top: 4px;
}

._1hwEKkB_38tIoal6fcdrt9, .UPYG6UwB7XqTeGj4a4vBr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jcdeKe ._3-miAEojrCvx_4FQ8x3P-s {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
._3-miAEojrCvx_4FQ8x3P-s {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 32px;
    padding: 0 8px 0 4px;
    position: relative;
}

.jcdeKe ._1UoeAeSRhOKSNdY_h3iS1O {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.hbJPLi ._1UoeAeSRhOKSNdY_h3iS1O {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
._2qww3J5KKzsD7e5DO0BvvU {
    word-break: normal;
    white-space: nowrap;
    min-width: 25px;
}
._3m17ICJgx45k_z-t82iVuO {
    cursor: default;
}
._1UoeAeSRhOKSNdY_h3iS1O {
    padding: 4px;
}

._1Gn6JH0U8GJtJXSIc54IMU, ._1MDjRAzxk1RSTB12748O1v, ._2IVG3b9-lczna8tonL9FWB, ._3ch9jJ0painNf41PmU4F9i, ._3phKxmomoio9ulzAoL4XhZ, .hMF1wBi2Z6Lh9zHskfhX1, .MAe2tslj1FAD6GliiZ3it, .XHMWG1CPWX8RXeNg-o5-R, .xwmljjCrovDE5C9MasZja {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    vertical-align: text-bottom;
}

._3DVrpDrMM9NLT6TlsTUMxC {
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
}

.FHCV02u6Cp2zYL0fhQPsO {
    display: inline-block;
    line-height: 1;
    text-transform: capitalize;
    vertical-align: middle;
}

.hNfrQO {
    width: auto;
    word-break: normal;
    margin: 0px 4px 0px 2px;
}

.hlpDWs {
    text-transform: capitalize;
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
    padding: 4px;
}

._1Gn6JH0U8GJtJXSIc54IMU, ._1MDjRAzxk1RSTB12748O1v, ._2IVG3b9-lczna8tonL9FWB, ._3ch9jJ0painNf41PmU4F9i, ._3phKxmomoio9ulzAoL4XhZ, .hMF1wBi2Z6Lh9zHskfhX1, .MAe2tslj1FAD6GliiZ3it, .XHMWG1CPWX8RXeNg-o5-R, .xwmljjCrovDE5C9MasZja {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    vertical-align: text-bottom;
}

._1GQDWqbF-wkYWbrpmOvjqJ {
    margin-right: 4px;
    vertical-align: middle;
}

._6_44iTtZoeY6_XChKt5b0 {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

@media (max-width: 1080px)
.jqIcAC {
    display: none;
}

.jqIcAC {
    width: auto;
    height: 25px;
    white-space: nowrap;
    padding-right: 4px;
    margin-right: 4px;
    text-transform: capitalize;
    overflow-wrap: initial;
    word-break: initial;
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
}

.hxpTao {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}

.cpAOsy {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    width: 20px;
}

.fIkQLB {
    vertical-align: text-bottom;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    fill: currentcolor;
    display: block;
    height: 16px;
    width: 16px;
    margin: 0px auto;
}

.iDplM {
    display: inline-block;
}

.hbyVDo {
    width: auto;
    height: 25px;
    white-space: nowrap;
    padding-right: 4px;
    margin-right: 4px;
    text-transform: capitalize;
    overflow-wrap: initial;
    word-break: initial;
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
}

.bhGJjs {
    box-sizing: border-box;
    padding-right: 16px;
    padding-bottom: 16px;
    margin: 16px 16px 0px 10px;
    background: rgba(255, 255, 255, 0.8);
}

@media (min-width: 640px)
.gxtxxZ {
    padding: 0px;
}

.gxtxxZ {
    padding: 0px 15px;
}

.cMWqxb {
    box-sizing: border-box;
    padding-left: 16px;
    position: relative;
    width: 100%;
    overflow: visible;
    transition: background 1s ease 0s;
}

.jDSCcP {
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.czhQfm {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.czhQfm .fxv3b9-0 {
    bottom: 0px;
    height: calc(100% - 56px);
    position: absolute;
}

.efNcNS {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    vertical-align: top;
    width: 16px;
}

.efNcNS > .threadline {
    display: block;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(237, 239, 241);
}

.MAIAY.top-level {
    margin-top: 16px;
}

.MAIAY {
    display: flex;
    margin-left: -23px;
    position: relative;
    border-radius: 4px;
    padding: 8px 4px 0px 0px;
    transition: color 0.5s ease 0s, fill 0.5s ease 0s, background 1s ease 0s;
    background: transparent;
}

.eUvHWc {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    fill: inherit;
    flex-direction: column;
    min-width: 24px;
    max-height: 40px;
    text-align: center;
    z-index: 3;
    margin: 6px -1px -2px 9px;
}

.jHfOJm {
    box-sizing: border-box;
    opacity: 1;
    margin-left: 4px;
    padding-left: 4px;
    padding-top: 4px;
    max-width: 800px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.imyGpC {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.clkVGJ {
    -webkit-box-align: center;
    align-items: center;
    line-height: 16px;
    display: flex;
    margin-left: 0px;
    min-height: 18px;
    transition: opacity 0.2s ease 0s;
}

.hPglCh {
    display: inline-block;
    flex: 0 0 auto;
}

.RVnoX {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(0, 121, 211);
}

.clkVGJ .h5svje-0 {
    padding-left: 8px;
    flex: 0 0 auto;
}

.cFQOcm {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(124, 124, 124);
}

.hsxhRU {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(124, 124, 124);
    padding-left: 8px;
    flex: 0 0 auto;
}

.eCeBkc {
    width: 100%;
    padding: 2px 0px;
}

.IYiIC {
    position: relative;
    top: -0.4em;
    font-size: 0.7em;
    line-height: 0.7em;
}

.dtnsqo {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: rgb(135, 138, 140);
    margin: 4px 0px 8px;
}

.hNSNDN {
    display: inline-block;
    margin-right: 12px;
    transition: color 0.1s ease 0s;
}

.domCcm {
    fill: currentcolor;
    color: rgb(183, 185, 186);
    display: inline-block;
    font-size: 14px;
    height: 12px;
    line-height: 13px;
    width: 12px;
    margin: 0px 6px 0px -1px;
}

.byBYdJ {
    box-sizing: border-box;
    padding-left: 37px;
    position: relative;
    width: 100%;
    overflow: visible;
    transition: background 1s ease 0s;
}

.t4Hq30BDzTeJ85vREX7_M {
    padding-left: 8px;
    font-size: 12px;
}

@font-face {
    font-family: IBMPlexSans;
    font-weight: 400;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Regular-116bb6d508f5307861d3b1269bc597e7.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")
}

@font-face {
    font-family: IBMPlexSans;
    font-weight: 500;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Medium-c4b185e25a4dde85a29f902cd5ce5360.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Medium-1051a531d3e1ee3483a6533158557139.woff) format("woff")
}

@font-face {
    font-family: IBMPlexSans;
    font-weight: 700;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Bold-875de5047556e7c822519d95d7ee692d.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Bold-c34ba754b7235b49d33b294ff7a54179.woff) format("woff")
}

@font-face {
    font-family: Noto Mono;
    font-weight: 400;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/Regular-b16bb0524a7e7ee597970333c0c67180.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")
}

@font-face {
    font-family: Noto Mono;
    font-weight: 400;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/el-Regular-29d72243d2cd6145b28bcb80dc33f0e4.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/el-Regular-06ee3f893717454d11a16c3e8d0aa9f9.woff) format("woff");
    unicode-range: u+0370-03ff, u+1f??
}

@font-face {
    font-family: Noto Sans;
    font-weight: 400;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-e50c34178d20d5fa4ab3c1f6c67901a9.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-weight: 400;
    font-style: italic;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-0b0b9b2b7159c9bc6463e7ab3b0e8bd0.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-5267af566ab853eb9d74db1a78a46c67.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-weight: 700;
    font-style: normal;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-b85bf848c28799f5ad34ee29db68051c.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-c34ba754b7235b49d33b294ff7a54179.woff) format("woff")
}

@font-face {
    font-family: Noto Sans;
    font-weight: 700;
    font-style: italic;
    src: url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-5a241c76c24e463ef9bcc5855d20209b.woff2) format("woff2"), url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-255b4934a1f414dd312aa89382d65114.woff) format("woff")
}
