body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

div {
    display: block;
}

.scrollerItem {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(135, 138, 140);
    cursor: pointer;
    fill: rgb(135, 138, 140);
    margin-bottom: -1px;
    position: relative;
    z-index: 0;
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    overflow: hidden;
}

.upvote-downvote-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-info-content, .scrollerItem-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-info-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 16px;
}

.scrollerItem-content {
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.upvote-downvote-inner {
    box-sizing: border-box;
    border-left: 4px solid transparent;
    flex: 0 0 36px;
}

.vote-arrow {
    height: 24px;
    width: 24px;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

.upvote-arrow {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
    transition: background-color 0.1s;
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.upvote-arrow-icon {
    position: relative;
}

.score {
    pointer-events: none;
    word-break: normal;
}

.jpXmlO {
    fill: inherit;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px 2px;
}

.jpXmlO .score {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    /* line-height: 15px; */
    text-align: center;
    width: 32px;
    margin: 0px 1px;
}

.downvote-arrow {
    cursor: pointer;
    color: rgb(135, 138, 140);
    border-radius: 2px;
    transition: background-color 0.1s;
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.downvote-arrow-icon {
    position: relative;
}

.item-info {
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(237, 239, 241);
    flex: 1 1 auto;
    padding: 3px 0px;
}

.kCjrjf {
    display: inline-block;
    vertical-align: top;
}

.item-description {
    margin-top: 2px;
    word-wrap: break-word;
    flex: 1 1 100%;
    overflow: hidden;
}

._1wrPey753PxLyLbB0NCEZP {
    display: inline-block;
}

.item-title {
    display: inline;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    color: inherit;
}

.item-title:hover {
    text-decoration: none;
}

.user-link {
    color: rgb(120, 124, 126);
    margin-right: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /* color: inherit; */
}

.item-source {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* display: inline-block; */
    vertical-align: middle;
}

.posted-by {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 3px;
}

.user {
    display: inline-block;
    flex: 0 0 auto;
}

.age {
    color: rgb(120, 124, 126);
    margin-right: 3px;
    text-decoration: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.col-right {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 24px;
    margin-left: 4px;
    padding-right: 4px;
    flex: 0 0 72px;
}

._1UoeAeSRhOKSNdY_h3iS1O {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 4px;
    width: 53px;
}

._1Hw7tY9pMr-T1F4P1C-xNU {
    border-radius: 2px;
    transition: background-color 0.1s;
}

.ecIAkj {
    cursor: pointer;
    height: 24px;
    line-height: 0px;
    width: 100%;
    border-radius: 4px;
    padding: 0px 4px;
}

.ejDVeC {
    height: 24px;
    border-radius: 2px;
    transition: background-color 0.1s;
}

.dBJXeP {
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(135, 138, 140);
}

.subreddit {
    font-size: 12px;
    font-weight: 700;
    color: rgb(28, 28, 28);
    display: inline;
    line-height: 20px;
    vertical-align: baseline;
    text-decoration: none;
}

.scrollerItem ._1Hw7tY9pMr-T1F4P1C-xNU:hover, .scrollerItem ._1Hw7tY9pMr-T1F4P1C-xNU:focus {
    background-color: rgba(26, 26, 27, 0.1);
    outline: none;
    text-decoration: none;
}

.scrollerItem:hover {
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
    border-image: initial;
}

.ejDVeC:hover, .ejDVeC:focus {
    background-color: rgba(26, 26, 27, 0.1);
    outline: none;
}

.upvote-arrow:hover {
    color: rgb(204, 55, 0);
}

.downvote-arrow:hover {
    color: rgb(90, 117, 204);
}
